
body {
  background-color: white; 
  margin: 0;
}

.section {
  text-align: center;
}

.section img {
  max-width: 100%;
  height: auto;
}
#map-container {
  width: 600px; /* Ancho  */
  margin: 0 auto; /* centra horizontalmente */
}

/* Estilo para el efecto hover */
.section a h3{
  display: block;
  position: relative;
  overflow: hidden;
  text-decoration: none; 
  color: black; 

}
a:hover {
  text-decoration: none; 
  color: black; 
}

.section a::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Color de fondo semi-transparente */
  opacity: 0; /* Inicialmente no visible */
  transition: opacity 0.3s ease; /* Transición de opacidad */
  color: black;
}

.section a:hover::after {
  opacity: 1; /* Al pasar el mouse, se vuelve completamente visible */
}

.section h3, .section p {
  text-decoration: none !important; 
  color: black !important; 
  position: relative; /* Asegura que el texto esté por encima del fondo semi-transparente */
  z-index: 1; /* Coloca el texto encima del fondo semi-transparente */
}

.footer {
  /*position: fixed;*/
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 20px 0;
}

.accordion-title {
  cursor: pointer;
}

.card-body {
  text-align: justify;
}
/*Participa.HTML*/
.comment-card {
  background-color: aliceblue;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
  transition: transform 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.comment-card:hover {
  transform: translateY(-10px);
}
.comment-card p {
  font-style: italic;
  text-align: left;
  flex: 1;
}

.comment-card h6 {
  text-align: right;
  color: #0e4681;
}

.navbar,
.badge-info {
  color: #f9f9f9;
}


.badge-info {
  font-size: 1.2rem;
  background-color: #0e4681;

}
h3 {
  color: #0e4681;

}
h4 {
  color: #0e4681;

}
.btn-primary {
  background-color: #0e4681;
  border-color: #0e4681;
  width: 150px;
}

.btn-primary:hover {
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
  background-color: #0c3764;
  border-color: #0c3764;
}

.proposal-card {
  background-color: aliceblue;
  /*border: 1px solid grey;*/
  border-radius: 10px;
}

.card-title {
  color: #0c3764;
}

.card-text {
  font-size: 1.1rem;
  text-align: justify;
  margin-top: 3%;
}

