
body {
  margin: 0;
}
.navbar-custom {
  background-color: #ad9a9a; 
}
/*Titulo*/
.navbar-light .navbar-brand {
  color: #4e1a1a;
  font-weight: bold;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
  color: #4e1a1a;
  font-weight: bold;

}
/*INDEX*/
.intro-text {
  font-size: 1.2rem;
  text-align: justify;
}

.section {
  text-align: center;
}

.section img {
  max-width: 100%;
  height: auto;
}
#map-container {
  width: 600px; /* Ancho  */
  margin: 0 auto; /* centra horizontalmente */

}

/* Estilo para el efecto hover */
.section a h3{
  display: block;
  position: relative;
  overflow: hidden;
  text-decoration: none; 
  color: black; 

}
a:hover {
  text-decoration: none; 
  color: black; 
}

.section a::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Color de fondo semi-transparente */
  opacity: 0; /* Inicialmente no visible */
  transition: opacity 0.3s ease; /* Transición de opacidad */
  color: black;
}

.section a:hover::after {
  opacity: 1; /* Al pasar el mouse, se vuelve completamente visible */
}

.section h3, .section p {
  text-decoration: none !important; 
  color: black !important; 
  position: relative; /* Asegura que el texto esté por encima del fondo semi-transparente */
  z-index: 1; /* Coloca el texto encima del fondo semi-transparente */
}



/*HISTORIA*/
.accordion-title {
  cursor: pointer;
}

.card-body {
  text-align: justify;
}
.iframe-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px; /* Ajusta el margen superior según sea necesario */
}
.iframe-container iframe {
  border: 0;
  max-width: 100%;
}


/*Participa.HTML*/
.comment-card {
  background-color: #f8e3e3;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
  transition: transform 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 1%;
}

.comment-card:hover {
  transform: translateY(-10px);
}
.comment-card p {
  font-style: italic;
  text-align: left;
  flex: 1;
}

.comment-card h6 {
  text-align: right;
  color: #4e1a1a;
  
}
/* para el contador*/
.navbar,
.badge-info {
  color: #f9f9f9;
}
.badge-info {
  font-size: 1.2rem;
  background-color: #4e1a1ad2;

}

h3 {
  color: #4e1a1a;

}
h4 {
  color: #4e1a1a;

}
/*La Nostra Proposta*/
.proposal-card {
  background-color: #f8e3e3;
  /*border: 1px solid grey;*/
  border-radius: 10px;
}

.card-title {
  color: #4e1a1a;
}

.card-text {
  font-size: 1.1rem;
  text-align: justify;
  margin-top: 3%;
}

/*FORM:*/
.form-group label {
  color: #4e1a1a; /*etiquetas */
  font-weight: bold;
}

/*etiquetas de los radio buttons */
.form-check-label {
  color: #4e1a1a; 
  font-weight: bold;
}

/* campos de entrada */
.form-control {
  background-color: #f8e3e3; 
  border: 1px solid #ad9a9a; 
  color: #4e1a1a; 
}

.form-group {
  margin: 3%; /* Agrega margen inferior a los grupos de formulario */
}

.form-control {
  background-color: #f0d9d9; /* Tonos más oscuros para el fondo del textbox */
  border: 1px solid #ad9a9a; /* Borde marrón claro */
  color: #4e1a1a; /* Texto marrón rojizo */
  padding: 10px; /* Agrega relleno alrededor del texto en los campos de entrada */
}

.form-control:focus {
  background-color: #ecdcdc; 
}


.form-control::placeholder {
  color: #ad9a9a; 
}

.form-check-input {
  background-color: #4e1a1a; 
  border: 1px solid #ad9a9a; 
}

.btn-primary {
  background-color: #4e1a1a; 
  border-color: #4e1a1a; 
  width: 150px;
}

.btn-primary:hover {
  background-color: #6a2e2e; 
  border-color: #6a2e2e; 

}
button[type="submit"] {
  margin: 0 auto; 
  display: block; 
}
#form-messages .alert {
  color: #4e1a1a; 
}

#form-messages .alert-success {
  background-color: #f8e3e3; 
  border-color: #ad9a9a; 
}

#form-messages .alert-danger {
  background-color: #f8e3e3; /* Beige claro para mensajes de error */
  border-color: #ad9a9a; /* Borde marrón claro */
}




.footer {
  /*position: fixed;*/
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 20px 0;
}
